
.font-brand {
  font-family: 'Lobster', cursive;
}
.bg-brand {
  background: #fa8072;
}
.text-dark {
  color: #282c34;
}

.App {
  background-color: #282c34;
  height: 100vh;
  min-height: 100vh;
  color: white;
}

/* .project-dashboard {

} */
.project-title {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 1rem;
}
.project-title::before {
  content: ">";
  margin-right: 1rem;
}
.project-title.selected {
  font-weight: bold;
}

.card {
  margin: 1rem;
  padding: 1rem;
  color: #282c34;
  font-size: 1rem;
}

.border-right {
  border-right: 1px solid #fff;
}
