

.bg-brand {
  background: salmon;
}
.text-dark {
  color: #282c34;
}

.App {
  background-color: #282c34;
  height: 100vh;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card {
  margin: 1rem;
  padding: 1rem;
  color: #282c34;
}

.border-right {
  border-right: 1px solid #fff;
}
